.book {
	width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 30px;
	background-color: white;
  border: lightgray 1px solid;
	border-radius: 5px;
	margin-left: 6.25rem;
  margin-bottom: 1em;
}

.book_category {
	font-family: Montserrat, sans-serif;
  font-size: 0.7em;
  color: #757575;
}

.book_title {
	font-family: Montserrat, sans-serif;
  font-size: 1.1em;
  color: #121212;
}

.book_author {
	font-size: 1em;
  color: #157aa8;
}

.book_action {
	font-size: 1em;
  color: var(--blue-2);
  cursor: pointer;
  padding: 0 0.7em;
  border-right: lightgray 2px solid;
}

.normalize {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1em;
	font-family: inherit;
}
